.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
  }
  
  .grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin-top: 30px;
  }
  
  .gridItem {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

  }
  
  .logoutBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  