@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

body {
  background-color: #000925;
}

/* html, body {
  overflow-x: hidden;
  background-color: #000925;
  color: white;
} */

/* div {
  color: white;
} */

/* main {
  padding: 1rem;
} */

/* h1, h2 {
  color: #eee;
}

label {
  color: white;
}

h3 {
  padding-bottom: 2rem;
  color: white;
  font-size: 1.8rem;
} */

/* button {
  padding: 16px 8px;
  width: 100%;
  margin-top: 12px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #808080;
  color: #f8f8f8;
} */

canvas {
  /* border: 1px dotted red; */
  background-color: rgba(0,0,0,0);
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: auto; 
  width: 40vw;
  top:5vw;
  margin:0;
 
}

.chart-container {
  position: absolute;
  margin-top:3vh;
  color:blue;

}

canvas {
  /* border: 1px dotted red; */
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.5rem;
  padding: 0.8rem;
  top:6rem;
  
  color:rgb(237, 6, 110);

}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh; 
  width: 40vw;
 
}

.btn-disabled {
  background-color: rgb(162, 19, 19);
  
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: white;
  border: 1px solid lightgray;
  
}

.li-hover:hover {
  background-color: #d8d8d8;
  columns: #fff;
}

.li-selected {
  color: #fff;
  background-color: #00092500;
}

.container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.quiz-container {
  background-color: linear-gradient(279deg, rgba(24, 27, 46, 0.50) 0%, rgba(72.22, 33, 86, 0.50) 33%, rgba(86.49, 74.15, 142.50, 0.50) 100%);
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.container p {
  padding: 8px 0;
}

.modal-bg {
  background: rgb(49,6,84);
  background: radial-gradient(circle, rgba(49,6,84,1) 0%, rgba(0,0,0,1) 100%);

}